<!DOCTYPE html>
<html lang ="en">
  <head>
    <meta charset='UTF-8'>
    <title>findPW</title>
  </head>
</html>

<body>

  <h3>비번찾기</h3>
  <form action="/users/findID" method="post">
      <table>
          <tr>
              <td>EMAIL : </td>
              <td><input type="text" name="userName"></td>
          </tr>
          <tr>
              <td><input type="submit" value="비밀번호 변경 URL 전송"></td>
          </tr>
      </table>
  </form>
  
  </body>
  </html>