<!DOCTYPE html>
<html lang ="en">
  <head>
    <meta charset='UTF-8'>
    <title>findID</title>
  </head>
</html>

<body>

  <h3>아이디찾기</h3>
  <form action="/users/findID" method="post">
      <table>
          <tr>
              <td>이름은 무엇인가요? : </td>
              <td><input type="text" name="userName"></td>
          </tr>
          <tr>
              <td>휴대폰 번호(임시) : </td>
              <td><input type="password" name="password"></td>
          </tr>
          <tr>
              <td><input type="submit" value="아이디(이메일주소)전송"></td>
          </tr>
      </table>
  </form>
  
  </body>
  </html>