<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset= "UTF-8">
    <title>Document</title>
  </head>
  <body>
    <h3>SignUp</h3>
    <form action="/users/sign_up" method="post">
      <table>
        <tr>
          <td>이름 : </td>
          <td><input type="text" name="userName"></td>
        </tr>
        <tr>
          <td>이메일 : </td>
          <td><input type="text" name="userEmail"></td>
      </tr>
      <tr>
          <td>비밀번호 : </td>
          <td><input type="password" name="password"></td>
      </tr>
      <tr>
          <td><input type="submit" value="회원가입"></td>
      </tr>
      </table>
    </form>
  </body>
</html>